<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/">Home</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="isAppManager()" routerLink="/suppliers">Suppliers</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">

    <!-- Dropdown -->
    <li class="nav-item dropdown" *ngIf="keycloakService.kc.authenticated">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <span>
          {{keycloakService.authUser ? keycloakService.authUser.username : '[USER]'}}
        </span>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onLogout()">Logout</a>
        <a class="dropdown-item" (click)="onchangePassword()">Change password</a>
      </div>
    </li>
    <li class="nav-item" *ngIf="!keycloakService.kc.authenticated">
      <a class="nav-link" (click)="onLogin()">Login</a>
    </li>
  </ul>
</nav>
